[Unit]
Description=EmojiCode-httpd

[Service]
User=tiensi
WorkingDirectory=/home/tiensi/webserver/
ExecStart=/home/tiensi/webserver/beta
Restart=always

[Install]
WantedBy=multi-user.target